# ignore any bin
bin/*
tests/bin/*

# ignore the entire lowcar/Device folder
lowcar/Device

# ignore the entire net_handler/pbc_gen folder
net_handler/pbc_gen

# ignore network_switch/exit_status.txt
network_switch/exit_status.txt

# Log files
*.log

# Cython build files
*studentapi.c

# Python build files
*.pyc
*.pyo
__pycache__/
executor/build/

# VS Code
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# .DS_Store
*.DS_Store
