# in language profile, ignore third-party libraries used in lowcar
lowcar/lib/* linguist-vendored

# force the Makefile_defs file to be classified as Makefile and be syntax highlighted as Makefile
Makefile_defs linguist-language=Makefile