# ignore any bin
bin/*
tests/bin/*

# ignore the tests/devices
tests/devices

# ignore the entire lowcar/Device folder
lowcar/Device

# ignore the entire net_handler/pbc_gen folder
net_handler/pbc_gen

# ignore network_switch/exit_status.txt
network_switch/exit_status.txt

# Log files
*.log

# Cython build files
*studentapi.c

# Python build files
*.pyc
*.pyo
__pycache__/
build/

# VS Code
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.DS_Store
