[Unit]
Description=asdf
BindsTo=test2.service test3.service

[Service]
ExecStart=/path/to/executable
Restart=on-failure

[Install]
WantedBy=multi-user.target
