[Unit]
Description=test1 service for script1.py
After=test2.service test3.service test4.service

[Service]
Type=oneshot
ExecStart=/path/to/script1.py

[Install]
WantedBy=multi-user.target
