[Unit]
Description=Device handler process for Runtime
BindsTo=executor.service net_handler.service network_switch.service
After=shm_start.service
Conflicts=shm_stop.service
OnFailure=shm_stop.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime/bin
ExecStart=/home/ubuntu/runtime/bin/dev_handler
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
