[Unit]
Description=Net handler process for Runtime
BindsTo=dev_handler.service executor.service
After=shm_start.service
Conflicts=shm_stop.service
OnFailure=shm_stop.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime/bin
ExecStart=/home/ubuntu/runtime/bin/net_handler
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
