[Unit]
Description=Net handler process for Runtime
BindsTo=dev_handler.service executor.service
After=shm_start.service
Conflicts=shm_stop.service
OnFailure=shm_stop.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/runtime/net_handler
ExecStart=/home/pi/runtime/net_handler/net_handler
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
