[Unit]
Description=Serves a webpage that displays the ngrok tunnel IP addresses.

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime/systemd/
ExecStart=python3 ngrok_displayer.py
ExecReload=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
