[Unit]
Description=Ngrok startup process for Runtime
After=net_handler.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime/systemd/
ExecStartPre=/bin/sleep 1
ExecStart=/home/ubuntu/runtime/systemd/ngrok.sh
ExecReload=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
