[Unit]
Description=Update process for Runtime

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime
ExecStart=/home/ubuntu/runtime/scripts/update.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
