[Unit]
Description=Update process for Runtime

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/runtime
ExecStart=/home/pi/runtime/scripts/update.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
