[Unit]
Description=Sets the time on this raspberry pi when on CalVisitor

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/runtime/systemd/set_time.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
