[Unit]
Description=Shared memory cleanup process for Runtime
After=dev_handler.service executor.service net_handler.service
OnFailure=dev_handler.service executor.service net_handler.service shm_start.service

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/runtime/shm_wrapper
ExecStart=/home/pi/runtime/shm_wrapper/shm_stop
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
