[Unit]
Description=Shared memory cleanup process for Runtime
After=dev_handler.service executor.service net_handler.service network_switch.service
OnFailure=dev_handler.service executor.service net_handler.service network_switch.service shm_start.service 

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/runtime/bin
ExecStart=/home/ubuntu/runtime/bin/shm_stop
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
