[Unit]
Description=test2 service for script2.py
BindsTo=test3.service test4.service
After=test5.service

[Service]
Type=oneshot
ExecStart=/home/jshi/Desktop/c-runtime/systemd-stuff/script2.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
