[Unit]
Description=test1 service for script1.py
After=test2.service test3.service test4.service
OnFailure=test2.service test3.service test4.service test5.service

[Service]
Type=oneshot
ExecStart=/home/pi/c-runtime/systemd/script1.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
