[Unit]
Description=test3 service for script3.py
After=test5.service

[Service]
Type=oneshot
ExecStart=/path/to/script3.py

[Install]
WantedBy=multi-user.target
