[Unit]
Description=test4 service for script4.py
After=test5.service

[Service]
Type=oneshot
ExecStart=/path/to/script4.py

[Install]
WantedBy=multi-user.target
