[Unit]
Description=test3 service for script3.py
Requisite=test5.service
After=test5.service

[Service]
Type=oneshot
ExecStart=/home/pi/c-runtime/systemd/script3.py
KillSignal=SIGINT

[Install]
WantedBy=test5.service
