[Unit]
Description=test2 service for script2.py
Requisite=test5.service
After=test5.service

[Service]
Type=oneshot
ExecStart=/home/pi/c-runtime/systemd/script2.py
KillSignal=SIGINT

[Install]
WantedBy=test5.service
