[Unit]
Description=test2 service for script2.py
After=test5.service

[Service]
Type=oneshot
ExecStart=/path/to/script2.py

[Install]
WantedBy=multi-user.target
