[Unit]
Description=test5 service for script5.py

[Service]
Type=oneshot
ExecStart=/home/jshi/Desktop/c-runtime/systemd-stuff/script5.py
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
