[Unit]
Description=test5 service for script5.py

[Service]
ExecStart=/home/pi/c-runtime/systemd/script5.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
