// This is the configuration file for the Runtime Logger.
// Add comments by using the double slash in front of the line, like in C.
// Do not change the order of the settings in the file, or the names of the settings.
// Blank lines should not contain extra spaces, tabs, etc.
// Yes/No answers can be input as any of (y/n), (yes/no), or capitalized.
// Leave a space between the colon and your setting.

// Print log levels at this level and above, must be in all caps.
// In order from lowest to highest, the levels are: DEBUG, INFO, WARN, ERROR, FATAL
CURR_LOG_LEVEL: DEBUG

// Output logs to terminal (stdout)? (Yes/No)
LOG_TO_STDOUT: YES

// Output logs to log file? (Yes/No)
LOG_TO_FILE: NO

// Output logs over the network to Dawn? (Yes/No)
LOG_TO_NETWORK: NO

// Absolute path and name of the log file (only used if logging to FILE)
LOG_FILE_LOC: /home/pi/c-runtime/logger/runtime_log.log

// Absolute path and name of the logger FIFO pipe (only used if logging to NETWORK)
LOG_FIFO_NAME: /tmp/log-fifo