// This is the configuration file for the Runtime Logger.
// Add comments by using the double slash in front of the line, like in C.
// Do not change the order of the settings in the file, or the names of the settings.
// Blank lines should not contain extra spaces, tabs, etc.
// Yes/No answers can be input as any of (y/n), (yes/no), or capitalized.
// Leave a space between the colon and the configuration setting.
// Do not leave any setting blank.

// Output logs to terminal (stdout)? (Yes/No)
LOG_TO_STDOUT: YES

// Output logs to log file? (Yes/No)
LOG_TO_FILE: YES

// Output logs over the network to Dawn? (Yes/No)
LOG_TO_NETWORK: YES

// Specify which level to print logs at to each of the three output locations
// Regardless of the log level specified, no logs will be sent to a location that has
// been marked to not receive logs.
// The log levels are, from lowest to highest: DEBUG, INFO, WARN, ERROR, FATAL

// Print logs at this level and above to STDOUT, must be in all caps.
STDOUT_LOG_LEVEL: DEBUG

// Print logs at this level and above to FILE, must be in all caps.
FILE_LOG_LEVEL: DEBUG

// Print logs at this level and above to NETWORK, must be in all caps.
NETWORK_LOG_LEVEL: DEBUG

// Absolute path and name of the log file (only used if logging to FILE)
LOG_FILE_LOC: /home/pi/c-runtime/logger/test.log
