[Unit]
Description=test5 service for script5.py

[Service]
Type=oneshot
ExecStart=/home/pi/runtime/systemd/script5.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
