[Unit]
Description=test2 service for script2.py
BindsTo=test3.service test4.service
After=test5.service
OnFailure=test1.service

[Service]
Type=oneshot
ExecStart=/home/pi/runtime/systemd/script2.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
