[Unit]
Description=test4 service for script4.py
BindsTo=test2.service test3.service
After=test5.service
OnFailure=test1.service

[Service]
Type=oneshot
ExecStart=/home/pi/runtime/systemd/script4.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
