[Unit]
Description=test3 service for script3.py
BindsTo=test2.service test4.service
After=test5.service
OnFailure=test1.service

[Service]
Type=oneshot
ExecStart=/home/pi/runtime/systemd/script3.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
