// This is the configuration file for the Runtime Logger, USE FOR TESTS IN TEST FRAMEWORK!!
// DO NOT CHANGE!! If you change, you will most likely break a whole bunch of tests.
// See logger/logger.config for an explanation for what all these fields mean

// Output logs to terminal (stdout)? (Yes/No)
LOG_TO_STDOUT: NO

// Output logs to log file? (Yes/No)
LOG_TO_FILE: NO

// Output logs over the network to Dawn? (Yes/No)
LOG_TO_NETWORK: YES

// Specify which level to print logs at to each of the three output locations
// The log levels are, from lowest to highest: DEBUG, INFO, WARN, ERROR, FATAL

// Print logs at this level and above to STDOUT, must be in all caps.
STDOUT_LOG_LEVEL: DEBUG

// Print logs at this level and above to FILE, must be in all caps.
FILE_LOG_LEVEL: DEBUG

// Print logs at this level and above to NETWORK, must be in all caps.
NETWORK_LOG_LEVEL: INFO

// Absolute path and name of the log file (only used if logging to FILE)
LOG_FILE_LOC: /home/pi/c-runtime/logger/test.log
